<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CLASS 10</title>
    <link rel="stylesheet" href="style10.css">
  </head>
  <body>
    <header class="header1">
        <nav class="navbar">
            <div class="top-left"><ul><a href="/index">HOME</a></ul></div>
            <div class="top-right"><ul><a href="/about">ABOUTUS</a></ul></div>
            <div class="top-left2"><ul><a href="/contact">CONTACT</a></ul></div>
            <div class="top-right2"><ul><a href="/12">SENIOR SECONDARY</a></ul></div>
            </nav>
    </header>
	<header class="header">
        <img src="https://i.ytimg.com/vi/-rQKtajpMsI/hqdefault.jpg">
        </header>
        <section>
            <div class="img-box"><img src="https://tse3.mm.bing.net/th?id=OIP.-K0FNia2XcXPr0szGS1v0AHaGN&pid=Api&P=0"></div>
            <div class="img2"><img src="https://tse2.mm.bing.net/th?id=OIP.cXVC1n-marI-0vosvporcQHaHa&pid=Api&P=0"></div>
            <div class="container">
                <div class="row row1">
               <div class="syllabus"><h1>SYLLABUS FOR CBSE</h1>
               <p>Check out the syllabus of each subject from the below website :<br><a href="https://cbseacademic.nic.in/curriculum_2024.html"><i>download the syllabus from here</i></a> </p>
            </div>
        </div>
            <div class="row row2">
                <div class="syllabus"><h1>QUESTION BANKS</h1>
                <p>Check out the practice papers of each subject for best preparation from below:<br><a href="https://cbseacademic.nic.in/SQP_CLASSX_2022-23.html"><i>download the practice paper from here</i></a></p>
                </div></div>
            <div class="row row3">
                <div class="syllabus"><h1>REVISION NOTES</h1>
                <p id="para">The revision notes are made with the current academic year in mind so that any changes by the board before the academic year begins are also incorporated into these subjects. The notes are also available in an easy to download PDF for students to utilise and study.

                    10th class revision notes applicable for all the board like CBSE, UP Board, MP Board, Gujrat Board, Bihar, Uttarakhand and all other boards who are following the New Updated NCERT Books as a course book.<br><a href="www.learncbse.in">CLASS 10 NOTES</a></p></div></div>
        <div class="row row4">
            
            <div class="syllabus"><h1>PREPARTION TIPS</h1><p id="para2"><ul>
                <li> Get up on time.</li>
                <li>Eat healthily.</li>
                <li>Revisit the notes.
                </li>
                <li>Follow the syllabus strictly.</li>
                <li>Solve problems.</li>
                <li>Stick to NCERT strictly.</li>
            </ul></p></div>
        </div>
                </div>
                
        </section>
        <footer>
            <div class="icons">
            <img class="img-footer" src="https://sguru.org/wp-content/uploads/2018/02/Facebook-logo-icon-vectorcopy-big_copy.png">
            <img class="img2-footer" src="http://1000logos.net/wp-content/uploads/2017/02/New-Instagram-logo.jpg">
            <img class="img3-footer" src="https://ipsf.net/wp-content/uploads/2018/10/twitter-transparent-app-2.png">
            </div>
            </footer>
  </body>
</html>