<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CLASS 12</title>
    <link rel="stylesheet" href="cuet.css">
</head>
<body>
    <header>
        <nav>
          <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
      </header>
    
     <div class="heading"> <h1>CUET ROADMAP</h1> </div>
     <div class="container">
      <div class="column1">
        <img src="https://tse4.mm.bing.net/th?id=OIP.5dmuo2VD9xUHYXMY9uDtBQHaD4&pid=Api&P=0&h=180">
      </div>
     <div class="row1">
      
      <h2>Understand the Exam Pattern</h2>
      <p>Though the number of questions is the same, the paper pattern differs for each college. Therefore, knowing the paper pattern for the particular college plays a vital role in qualifying for the entrance exam.</p>
    <p>As per the CUET Exam Pattern, the entrance exam will include four sections:
      <ul>
        <li>Section 1 A:13 Languages</li>
        <li>Section 1 B:19 Languages</li>
        <li>Section 2: Domain-specific test</li>
        <li>Section 3:General test</li>
      </ul>
    </p> 
    </div>
    <div class="column2">
      <img src="https://tse4.mm.bing.net/th?id=OIP.fmADYMcbikmtUBAImLHqiQHaDM&pid=Api&P=0&h=180">
    </div>
  </div>
  <div class="container1">
    <div class="row2">
      <h2>Know your Syllabus</h2>
      <p>Once you understand your exam pattern, the second step is to list down the syllabus, so you know what to study. Visit the official website of CUET; it has the respective syllabus for the course and the college. 

        Note that the syllabus may differ for every college. Therefore, it is important to carefully review and double-check your syllabus before you start your preparations.</p>
    </div>
  </div>
     
    <div class="container2">
      <div class="column3">
        <img src="https://tse2.mm.bing.net/th?id=OIP.OkdQDq_GVorwyZHlY2JOrAHaCU&pid=Api&P=0&h=180">
      </div>
      <div class="row3">
        <h2>Schedule a TimeTable</h2>
        <p>Scheduling is something that will give fantastic results if you plan it properly. However, preparing a study plan is one of the most challenging tasks for most.
          <ul>
            <li>Your everyday schedule should have time for CUET exam preparation.</li>
            <li>Initially, you can give 1-2 hours for the entrance exam and the rest for the board exams.</li>
            <li>Once the board exams get over, you can utilize the maximum of your time for the NTA CUET exam prep.
            </li>
          </ul>
        </p>
      </div>
    </div>
    <div class="container3">
      <h2>Make a List of Colleges You wish to Target</h2>
      <p><ul>
        <li>Before starting your preparation, you must make a CUET Colleges and course list.</li>
        <li>Then, understand the previous year's cut-off and position of the counselling for the particular college.</li>
        <li>Doing this will help you understand the marks you must score in the CUET exam to get admission to a particular course in your desired college, thus helping you enhance your preparation levels for the upcoming exam.</li>
      </ul></p>
    </div>
    <div class="container4">
      <h2> Practice Mock Tests</h2>
      <p><ul>
        <li>Working on the concepts and writing mock tests based on the exam pattern is essential, as it will help you understand your strengths and weak areas, which can be improved.
        </li>
        <li>Take up at least one CUET Mock Test every week and try to analyze your performance after completing the mock test.
        </li>
        <li>Also, try to attempt as many MCQs as possible from your board exam topics. Gradually increase the number of mocks you take. 
        </li>
      </ul>
    <br>link for mock tests:<a href="https://www.toprankers.com/cuet-mock-test-series">practice here</a>
  </p>
    </div>
    <div class="container5">
      <img src="https://cdn.toprankers.net.in/images/cuet-preparations-02697aeb0d64a.png"></div>
      <footer>
        <p>&copy; 2023 CUET Roadmap. All rights reserved.
         
        </p>
      </footer>
    </body>
    </html>
    
    
