<!doctype html>
<html lang="en">
  <head>
    <style>
      .body{
      font-family: Arial, sans-serif;
      background-image:url("https://cmkt-image-prd.freetls.fastly.net/0.1.0/ps/1653743/7917/5269/m1/fpnw/wm0/low-poly-multicolor-background-.jpg?1473775167&s=d10f454d95c29718cfac9cd162704d96");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index:0.6;
      

      }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>Pathway</title>
    <link rel="icon" type="images/x-icon" href="logo.jpg" />
    <link rel="stylesheet" href="code.css">
  </head>
  <body class="body">
    <nav class="navbar navbar-expand-lg  fw-bolder p-2" style="background-color: orangered; ">
      <div class="container-fluid">
        <img src="logo.jpg" alt="Logo" width="45" height="45" class="d-inline-block align-text-top ">
        <a class="navbar-brand mx-6 text-pink-400 fw-bolder text-light p-2 fs-2" href="#"> MasterPlan</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link  mx-6 text-light" aria-current="page" href="/index">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active mx-6 text-light" href="/about">About</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle mx-6 text-light" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Topics
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item mx-6" href="/10">Seconadry education</a></li>
                <li><a class="dropdown-item mx-6" href="/12">Senior Secondary education</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item " href="/code">Coding</a></li>
                <li><a class="dropdown-item " href="/civil">Civil Exams</a></li>
                <li><a class="dropdown-item " href="/other">Other fields</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-6 text-light" href="/contact">Contact</a>
            </li>

          </ul>
        
        </div>
      </div>
    </nav>
    <div class="container my-4">
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7">
              <h2 class="featurette-heading fw-normal lh-1">IIT JEE<span class="text-body-secondary"> A perfect roadmap for jee preparation</span></h2>
              <p class="lead">One of important for admission in Technical Degree from big institutions require definitely require your pre planning and proper execution</p>
               <a class="fw-bolder fs-2" href="/jee" class="">How to plan and execute it
               </a>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://source.unsplash.com/500x500/?iit" width="500" height="500">
            </div>
          </div>
          <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading fw-normal lh-1">Neet <span class="text-body-secondary"> A Leading path to a life saver</span></h2>
              <p class="lead">"Always Remember The Privilage it is to be a physician</p>
               <a class="fw-bolder fs-2" href="/neet">Plan to become a life saver</a>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://source.unsplash.com/500x500/?doctor" width="500" height="500">
            </div>
          </div>
          <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7">
              <h2 class="featurette-heading fw-normal lh-1">UPSC <span class="text-body-secondary"> Civil Exams</span></h2>
              <p class="lead">ACC to Reports 1.1M students fight among themselves for 1000 seats in civil jobs</p>
              <a  class="fw-bolder fs-2" href="/upsc">UPSC Roadmap</a>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://source.unsplash.com/500x500/?police,indian" width="500" height="500">
            </div>
          </div>
          <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading fw-normal lh-1">Banking <span class="text-body-secondary">For Bank Exams</span></h2>
              <p class="lead">The banking system in India provides a meeting ground for investors and savers. With time, the Indian banking system structure and our country’s financial markets have also experienced a huge transformation since liberalization.</p><br>
              <a  class="fw-bolder fs-2" href="/banking">Banking  Roadmap</a>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://source.unsplash.com/500x500/?bank,job,cash" width="500" height="500">
            </div>
          </div>
          <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7">
              <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span class="text-body-secondary">It’ll blow your mind.</span></h2>
              <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://source.unsplash.com/500x500/?code,laptop" width="500" height="500">
            </div>
          </div>
    </div>